@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Preahvihear&display=swap');

@theme {
    --color-background: #11071F;
    --color-navbar: #1A0B2E;
    --color-base-text: #ffffff;
    --color-themed-text: #7127BA;
    --color-nav-button: #2b134c;
}

@layer base {
    body {
        font-family: "Preahvihear", serif;
    }
}