@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@theme {
    --color-background: #11071F;
    --color-navbar: #1A0B2E;
    --color-base-text: #ffffff;
    --color-themed-text: #7127BA;
    --color-nav-button: #2b134c;
    --color-skill-card: linear-gradient(45deg, #130428 7%, #251043 34%, #38126D 57%, #261045 85%, #190634 100%);
    --color-card-border: #4F228D;
}

@layer base {
    body {
        font-family: "Poppins", serif;
        font-weight: 400;
        font-style: normal;
    }
}

@layer components {
    .section-heading {
        @apply text-3xl font-bold my-2;
    }
    
    .card {
        @apply relative flex flex-col justify-center lg:items-center h-50 min-h-[200px] rounded-lg border-t-2 border-card-border;
    }

    .card-background {
        @apply h-full absolute inset-0 opacity-30;
        background: var(--color-skill-card);
    }

    .card-content {
        @apply p-4 z-10;
    }

    .card-heading {
        @apply text-lg underline underline-offset-3;
    }

    .card-list {
        @apply list-disc;
    }

}